/SignalR/.idea/.idea.SignalR/.idea/.gitignore
/SignalR/.idea/.idea.SignalR/.idea/aws.xml
/SignalR/.idea/.idea.SignalR/.idea/encodings.xml
/SignalR/.idea/.idea.SignalR/.idea/indexLayout.xml
/SignalR/.idea/.idea.SignalR/.idea/misc.xml
/SignalR/.idea/.idea.SignalR/.idea/vcs.xml
